// .maskPage {
//     color: white;
//     background: linear-gradient(grey, black);
//     font-family: Arial, Helvetica, sans-serif;
// }

.header-mas {
    background: linear-gradient(grey, black);
    color: #f5f4f4;
    width: 24%;
    height: 100%;
    padding-top: 3px;
    padding-bottom: 110px;
    position: fixed;
}

.title-mas {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 40px;
    text-decoration: none;
}

.project-mas {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-left: 50px;
}


.about-mas {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-left: 50px;
    text-decoration: none;
}

.contact-mas {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-left: 50px;
}

.tag-mas {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 290px;
    padding-left: 40px;
}



.mask__details {
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 100px;
    margin-left: 217px;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 1000px;
    width: 75%;
    height: 100%;
    background: #f5f4f4;
    background-size: cover;
    font-size: 13px;
    font-family: 'Arvo', monospace;
}

.m2 {
    margin-bottom: 20px;
}

.m3 {
    margin-bottom: 20px;
}